.navbar {
  display: block;
  transition: 0.5s;

  position: sticky;
  left: 0;
  right: 0;
  top: -75px;
  z-index: 100;
}

.switchColor {
  transition: 0.5s;
}

#sectionCopy {
  background-color: #0a0a0a;
  p {
    color: #909090;
  }
}
