#sectionLearn {
  background: url("./../../public/images/cta-bg.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 20%;
  margin-top: 5%;
}
