#sectionShop {
  background-color: #f3f3f3;
}

#sectionService {
  h3 {
    text-decoration: underline;
  }
}

#SectionAway {
  .bodyContG {
    background-color: #f3f3f3;
    padding: 25% 15%;
  }
  .bodyCont {
    padding: 25% 15%;
  }
}
