@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
$fa-font-path: "../webfonts";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./sectionProducts";
@import "./_sectionLearn.scss";
@import "./sectionCarousel";
@import "./shopServiceAway";

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}

body {
  font-family: "poppins", cursive;

  .navbar {
    display: block;
  }
}

/* query pour tablette*/
@media (min-width: 768px) and (max-width: 991px) {
}

/* query Pour smartphon*/
@media (max-width: 767px) {
  #sectionShop {
    #h1Media {
      font-size: 3.6rem;
    }
  }
}
