@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

body {
  height: 2000px; // a sup !!!!!

  .navbar {
    display: block;
  }

  #sectionShop {
    background-color: #f3f3f3;
  }

  #sectionService {
    h3 {
      text-decoration: underline;
    }
  }
}

/* query pour tablette*/
@media (min-width: 768px) and (max-width: 991px) {
}

/* query Pour smartphon*/
@media (max-width: 767px) {
  #sectionShop {
    #h1Media {
      font-size: 4rem;
    }
  }
}
